* {
  margin: 0;
  padding: 0;
}
.header-container {
  background-color: rgb(31, 41, 55);
  color: #fff;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}
.some-text {
  /* border: 4px solid brown; */
  margin-top: 100px;
  flex-wrap: wrap;
  align-self: start;
  margin-left: 100px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
a {
  color: #b9bdc1;
  text-decoration-line: none;
}
ul {
  list-style-type: none;
  display: inline-flex;
  gap: 19px;
  margin-left: auto;
  margin-right: 40px;
}
h1 {
  margin-bottom: 40px;
  font-size: 48px;
  color: #f9faf8;
}
img {
  width: 500px;
  height: 300px;
  margin-left: 80px;
  margin-top: 50px;
}
.mid-container {
  display: flex;
  flex-direction: row;
}
.maintext {
  font-size: 18px;
  color: #e5e7eb;
}
.sing1 {
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 8px;
  padding-left: 19px;
  padding-right: 19px;
  border-color: #3882f6;
  margin-top: 10px;
}
.info {
  color: #000;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}
.one,
.two,
.there,
.four {
  padding: 50px;
  display: flex;
  background-color: transparent;
  border: 3px solid #3882f6;
  border-radius: 6px;
}
.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.first {
  display: inline-flex;
  width: 140px;
  align-items: center;
  flex-direction: column;
}
.seconed {
  display: inline-flex;
  width: 140px;
  align-items: center;
  flex-direction: column;
}
.thered {
  display: inline-flex;
  width: 140px;
  align-items: center;
  flex-direction: column;
}
.fourth {
  display: inline-flex;
  width: 140px;
  align-items: center;
  flex-direction: column;
}
.text {
  text-align: center;
}
.filling-container {
  margin-top: 100px;
  background-color: #e5e7eb;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.filling {
  font-size: 30px;
  color: #1f2937;
  font-style: italic;
}
.thor {
  display: flex;
  align-self: flex-end;
  color: #000;
  font-weight: bold;
}
